<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
    <h2>Add a Transaction</h2></div>
<h3>Id: </h3><input type="text" name="idname">
<h3>Vendor: </h3><input type="text" name="vendorname">
<h3>Amount: </h3><input type="text" name="amountname">
<h3>Category: </h3><input type="text" name="categoryname">
<h3>Transaction Date: </h3><input type="text" name="transactiondatename">
<h3>Amount: </h3><input type="text" name="amountname">
<button type="button">Add</button>