<nav><div class="w3-left w3-hide-small">
    <a href="" class="w3-bar-item w3-button">Home</a>
    <a href="add" class="w3-bar-item w3-button">Add</a>
    <a href="view" class="w3-bar-item w3-button">View</a>
    
    <a href="delete" class="w3-bar-item w3-button">Delete</a>
    <a href="update" class="w3-bar-item w3-button">Update</a>

    <a href="dashboard" class="w3-bar-item w3-button">Dashboard</a>

  </div>
  <div class="w3-right w3-hide-small">
    
    <a href="login" class="w3-btn w3-white w3-border w3-border-red w3-round-large">Login</a>
  </div>
</nav>

