<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
<h2>Update A Transaction</h2></div>

<div class="container">
<form action="/action_page.php">
<h3>Id: </h3><input type="number" [formControl]= "inputid"placeholder="Transaction record ID">
<button type="button" (click)="GetTransaction()">Get Transaction</button>
</form>
<form id="myform" style="visibility:hidden">
<h3>Vendor: {{transaction.vendor | uppercase}}</h3><input type="text" [formControl]="inputvendor">
<h3>Amount: {{transaction.amount}}</h3><input type="number" [formControl]="inputamount"> 
<h3>Category: {{transaction.category | uppercase}}</h3><input type="text" [formControl]="inputcategory">
<h3>Transaction Date: {{transaction.transactionDate | date:'yyyy-MM-dd'}}</h3><input type="date" [formControl]="inputdate">
<h3>Account: {{transaction.account | uppercase}}</h3><input type="text" [formControl]="inputaccount">
<button type="button" (click)="UpdateTransaction()">Update Transaction</button>
</form>
<label id="SuccessLabel" style="visibility:hidden">Success! Your transaction has been updated!</label>
</div>
<style>
    input[type=text],input[type=number],input[type=date]{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
  
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  button {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: #45a049;
  }
  form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
     
  }
  .container {
      padding: 16px 300px;
  }
  
  </style>