<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
    <h2>Dashboard</h2>
</div>

<div class="container">
    <form action="/action_page.php">
<h3>Today's Date: <i class="w3-text-indigo"> {{ getTodayDate() | date:'yyyy-MM-dd' }}</i></h3>

<h3>Number of Transactions: <i class="w3-text-indigo">{{transactions.length}}</i></h3>
<h3>Amount of All Transactions: <i class="w3-text-indigo">{{ getTotal() | currency }}</i></h3>


<div class=" w3-blue w3-center w3-xlarge" >By Category
                      
    </div>



    
     
    
    <table class="w3-table-all" >
            
                   
                  
   
    
    
        
        <tr><td>FOOD</td><td> {{ getFoodTotal() | currency }}</td></tr>
        <tr><td>GROCERY</td><td>{{ getGroceryTotal() | currency }}</td></tr>
        <tr><td>MERCHANDISE</td><td>{{ getMerchandiseTotal() | currency }}</td></tr>
        <tr><td>TUITION</td><td>{{ getTuitionTotal() | currency }}</td></tr>
        <tr><td>OTHER</td><td>{{ getOtherTotal() | currency }}</td></tr>
    
</table>

</form>
</div>
<style>
    form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
     
  }
  .container {
      padding: 16px 200px;
  }
</style>
