<div class="w3-panel"></div>
<div class="w3-panel"></div>
<div class="w3-panel w3-leftbar w3-sand w3-xxlarge w3-serif">  
    <h1>Dashboard</h1>
</div>

<h1>Total's Date: {{ getTodayDate() | date:'yyyy-MM-dd' }}</h1>

<h1>Total Number of Transactions: {{transactions.length}}</h1>
<h1>Total Amount of All Transactions: {{ getTotal() | number:0 }}</h1>
<h1>****By Category****</h1>
<h1>Category FOOD: {{ getFoodTotal() | number:0 }}</h1>
<h1>Category GROCERY: {{ getGroceryTotal() | number:0 }}</h1>
<h1>Category MERCHANDISE: {{ getMerchandiseTotal() | number:0 }}</h1>
<h1>Category TUITION: {{ getTuitionTotal() | number:0 }}</h1>
<h1>Category OTHER: {{ getOtherTotal() | number:0 }}</h1>