/* Application-wide Styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



h1 {
    width:auto;
    float:left;
    font-family:verdana;
    font-size:1em;
    line-height:2;
}


h2,
h3 {
    color: #444;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}


input[text],
button {
    color: #888;
    font-family: Cambria, Georgia;
}

/* everywhere else */


