


<header class="w3-display-container w3-content w3-wide w3-hover-opacity" style="max-width:1600px;min-width:500px" id="home">

  <img class="w3-image" src="https://lh3.googleusercontent.com/-bt_fTzwL-9Fx5uqFNvflt-YKrh8GSWhUaJMOva9Gmo5uE-B4xFNk0vypPCs1Kl5op8MLnZXNr9ORdU2ZfulVp0qUA9NpZEVx-LxnqiJE4qJYApzmpXT20CM61Xa94OYDARdizyUsrJVNA5F6TbrGm1a80IZvLkVMQaQ4c37VsuFoWtwAuXO23zhcoWU6RONYOMfgDdW1v3x_wwmQ8H5JFZhPR01mmwDwhj3tHOR4pq5b-3UJSGNkf8hEhxyA8NBIfu5_dapUPa8CkZrV18o3BRazyDzdjMFUkLHNqmLzA-Ot30grBUF8ub18lzedwA4VvVquqs86Z9U6PlwgqXrcAe-t_eOgHh7GJ07yBmUmfUO3nvU54u1LLxGIdl1Xyr4gVsbERbStH7NIe4KvKnpkAeW45bnrtxifP761sJ2ABPxJAk_mdiAp5YbWo5kV2Lq56jcplCMkFjSvuY4CwY86MPnJv91n0kHJbUxqkD_UTembPC_Y2Y0e9PyscNQxPpxFR8RhAGyuLOSGkkddEWSv75dVtBJqpdjBKeuTWsnYLj9DADlzKdYSHnH0DSwv_4wpDGhjOj_JyZAGGH0sqYO-1je-KEYrb6Mg8_uugs=w1280-h768-no" alt="Hamburger Catering" width="1600" height="800">
  
  <div class="w3-display-middle w3-display-hover w3-xxlarge">
      <a href="add" class="w3-button w3-amber">Start</a>
  </div>
  
  <div class="w3-display-right w3-padding-large">
    <h1 class="w3-xxlarge w3-text-white">Money Tracker Beta</h1>
  </div>


</header>




<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h2 class="w3-wide">About Us</h2>
  <p class="w3-opacity"><i>Accounting Tool</i></p>
  <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  